* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
}

header {
  padding: 30px 200px;
  width: 100%;
  display: inline-block;
}

header h1 {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #3C4C41;
  font-weight: bold;
  margin-left: 60px;
}

#logo {
  top: 25px;
  position: absolute;
}


header h1::after {
  content: "";
  display: block;
  width: 2px;
  height: 70%;
  background-color: #3C4C41;
  transform: rotate(15deg);
  position: absolute;
  top: 5px;
  left: 95px;
}

header span {
  display: inline-block;
  margin-left: 12px;
  font-size: 12px;
  width: 45%;
  font-weight: bold;
}

header nav {
  font-size: 20px;
  margin-top: 20px;
  position: relative;
  float: inline-end;
}

.selected-nav {
  color: #18913e;
}

ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin-left: 10px;
}

header a {
  text-decoration: none;
  color: #3C4C41;
}

header a:hover {
  color: #101411;
}

a {
  text-decoration: none;
}

main {
  margin-bottom: 48px;

}

#carousel {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #f3f3f3;
}

#forward,
#backward {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
}

#forward {
  right: 20px;
}

#backward {
  left: 20px;
}


#forward::before,
#backward::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-top: 3px solid #232323;
}

#forward::before {
  border-right: 3px solid #232323;
  transform: translate(-50%, -50%) rotate(45deg);
}

#backward::before {
  border-left: 3px solid #232323;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.content {
  padding: 0 200px;
}

#projects-bg {
  padding: 60px 0;
  width: 100%;
  background-color: #C2E8CA;
}

#projects-content h3 {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 60px;
  margin-left: 16px;
}

#projects-content h3::before {
  content: "";
  display: block;
  width: 3px;
  height: 120%;
  background-color: #000000;
  transform: rotate(15deg);
  position: absolute;
  top: -3px;
  left: -12px;
}

#teste {
  width: 100%;
  margin-bottom: 20px;
}

#teste div {
  cursor: pointer;
  position: relative;
  display: inline-block;
  height: 260px;
  width: calc(33.33% - 20px);
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#projects-content div p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 14px;
  color: white;
}

#projects-content div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

#projects-content div:nth-child(1),
#projects-content div:nth-child(2) {
  margin-right: 20px;
}


#data-content {
  padding-top: 60px;
  padding-bottom: 40px;
  width: 100%;
}

#data-content h3 {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 60px;
  margin-left: 16px;
}

#data-content h3::before {
  content: "";
  display: block;
  width: 3px;
  height: 120%;
  background-color: #000000;
  transform: rotate(15deg);
  position: absolute;
  top: -3px;
  left: -12px;
}

#data-content>div {
  display: inline-block;
  width: calc(50% - 13px);
  padding: 40px;
  border: 2px solid #00923E;
  border-radius: 16px;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.3);
}

#data-content div:nth-child(1),
#data-content div:nth-child(2) {
  margin-bottom: 20px;
}

#data-content div:nth-child(even) {
  margin-right: 20px;
}

#data-content div h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.teste {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.data-conteiner {
  display: inline-block;
  width: 100%;
}

footer {
  width: 100%;
  padding: 30px 200px;
  background-color: #232323;
  color: #f3f3f3;
}

#footer-logo {
  font-size: 20px;
  font-weight: bold;
}

footer ul li {
  display: inline-block;
}

footer ul li a svg {
  font-size: 12px;
}

footer ul li:nth-child(1),
footer ul li:nth-child(2),
footer ul:nth-child(1) li:nth-child(3) {
  margin-right: 20px;
}

footer ul {
  display: inline-block;
  margin-bottom: 40px;
}

footer ul:nth-child(2) {
  margin-top: -8px;
  float: right;
}


#text {
  margin-top: -20px;
  float: right;
}

#text a {
  text-decoration: underline;
}

footer a {
  color: #f3f3f3;
}

footer a:hover {
  color: #18913e;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transform: translate(-50%, -50%);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.closeBtn {
  position: absolute;
  right: 8px;
  top: 0;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  /* color: #3C4C41; */
}

form label {
  display: inline-block;
}

form input {
  width: 100%;
  padding: 12px;
  margin: 4px 0 20px;
  display: inline-block;
  outline: 1px solid #ccc;
  border-radius: 8px;
  border: none;
}

form input:focus {
  outline: 1px solid #18913e;
}

form textarea {
  min-height: 200px;
  min-width: 100%;
  max-height: 200px;
  width: 100%;
  padding: 12px;
  margin: 4px 0 20px;
  display: inline-block;
  outline: 1px solid #ccc;
  border-radius: 8px;
  border: none;
  max-width: 100%;
}

form button {
  width: 100%;
  border: none;
  outline: 1px solid #5fac70;
  background-color: #5fac70;
  color: white;
  padding: 14px 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

form button:hover {
  background-color: #258b46;
  outline: 1px solid #258b46;
  border: none;
  transition: 0.3s;
  color: white;
}

form button:focus {
  outline: 1px solid #16532a;
  background-color: #258b46;
  border: none;
}